*{
    margin: 0;
    padding: 0;
    box-sizing:border-box
}

:root{
   --background: hsl(185, 75%, 39%);
   --heading-text: hsl(229, 23%, 23%);
   --small-text: hsl(227, 10%, 46%) ;
}

body{
    background-color: var(--background);
    font-size: 18px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    

}

#background-top{
    background-image: url(bg-pattern-top.svg);
    height: 150%;
    width:100%;
    background-repeat: no-repeat;
    position: absolute;
    bottom:40px;
    right: 300px;  
  
}

#background-bottom{
    background-image:url(bg-pattern-bottom.svg);
    height: 450px;
    width:850px;
    background-repeat: no-repeat;
    position: absolute;
    top:400px;
    left: 600px;  

    
}
#bubble-image{
    background-image: url(bg-pattern-card.svg);
    height:17vh;
    background-color:var(--background);



}

#profile-picture{

    border-radius: 60px;
    position:absolute;
    top:65px;
    left:122.5px;
    border-style: solid;
    border-width: 5px;
    border-color: white;
}
#main-div{
    position: absolute;
    width: 345px;
    height: 365px;
    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    text-align: center;
}
@font-face {
    font-family: kumbh;
    src: url(KumbhSans-Bold.ttf);
}
@font-face{
    font-family: kumbh-light;
    src: url(KumbhSans-Light.ttf)
}
#name{
    margin-top:20%;
    margin-bottom: 5%;
}
#address{
    margin-bottom:10%
}
#stats{
    padding: 5%;
}


.bold{
    font-family: kumbh;
    color: var(--heading-text);
    font-weight: 700px;
}
.light{
    font-family: kumbh-light;
    color: var(--small-text);
    font-size:14px;
    font-weight: 400px;
}
    
