*{
    margin:0;
    padding: 0;
    box-sizing:border-box;
}
:root{
    --Pale-Blue: hsl(243, 100%, 93%);
    --Grayish-Blue: hsl(229, 7%, 55%);
    --Dark-Blue: hsl(228, 56%, 26%);
    --Very-Dark-Blue: hsl(229, 57%, 11%);
    --Gradient: hsl(6, 100%, 80%) to hsl(335, 100%, 65%);
    font-size:14px;
    font-family:Raleway;
}
body{
    padding:100px 8% 1% 8%;
    background-image: url(images/bg-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;

    
}
.container-color{
    background-color: var(--Dark-Blue);
}
#top-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    text-align: left;
    min-width:340px;
    min-height:220px;
    padding:40px 0 20px 30px;
    border-radius: 10px 100px 10px 10px;



    
}
#icons-container{
    display: flex;
    justify-content: space-between;
    min-width: 200px;
}
.icons{
    background-color: var(--Very-Dark-Blue);
    width:50px;
    height:50px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}
#middle-container{

  
   
    
    text-align: center;
    min-width:340px;
    min-height:150px;
    padding:40px 40px 50px 40px;
    border-radius: 10px 10px 10px 10px;
    margin-top: 20px;
    color:var(--Pale-Blue);

}
.bold{
    font-weight: 700;
}
#space{
    display: flex;
    justify-content: space-between;
   
}
#gradient-container{
    max-height: 20px;
    background-color: var(--Very-Dark-Blue);
    border-radius: 40px;
    margin:20px 0 10px 0;
    padding: 3px 80px 3px 5px;
}
#gradient-div{
 
    background-image:linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
    min-height: 13px;
    border-radius: 20px;
}
#gb-left{
    font-weight: 700;
    font-size: 50px;
    color:var(--Very-Dark-Blue)
}
#bottom-container{
    border-radius: 10px;
    padding:10px 30px;
    background-color: white;
    position: relative;
    top:-30px;
    display:flex
    
    
}

#words{
    position: relative;
    font-size: 12px;
    font-weight: 700;
    color:rgb(117, 117, 117);
    left:5px;
    bottom:10px
}
.attribution a{
    color: red;
}
.attribution a:hover{
    color:white
}
.attribution{
    text-align: center;
    color: white;
    font-size: 16px;
}
@media only screen and (min-width:1000px){
    body{
        display: block;
        background-image: url(images/bg-desktop.png);
        background-attachment: fixed;
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: 100%;
        background-color: var(--Very-Dark-Blue);
        padding:200px 8% 1% 250px;
    }

    #top-container{
       float: left;
       margin-right: 20px;
       position: relative;
      

    }
    #middle-container{
        margin-left: 370px;
        max-width:490px;
        position: relative;
        top:30px;
        text-align:left
    }
    #bottom-container{
        
        background-color: white;
        position: absolute;
        right:350px;
        top:200px;
       
        
        
    }
    .attribution{
        text-align: center;
        color: white;
        position: relative;
        font-size: 19px;
        top:100px;
        right:300px;
    }
    
 
    
}